.container
  .header
    = image_tag "/images/header.jpg"
  .content
    %ul
      #winner
        %li.wrap
          .photo
            = image_tag @winner[:source]
            .likes
              = @winner[:likes_count]
              likes
            .album
              Fotos de Para todo hay FANS -
            .album
              Gana un Ipod Nano con "Para Todo Hay Fans"
              = "(Parte #{@winner[:album]})"
            .link
              = link_to @winner[:link], @winner[:link]
      - @top_ten.each do |photo|
        %li.photo_looser
          = image_tag photo[:picture]
          #likes
            = photo[:likes_count]
            likes
          #link
            = link_to "Ver Foto", photo[:link]
:css
  .container{
    background-color: #0080af;
  }
  .header{
    text-align:center;
    background-color: #003662;
    img{
      border:none;
    }
  }

  ul{
    padding:0px;
  }
  li{
   list-style:none;
  }

  a{
    text-decoration: none;
    color:white;
  }

  li.wrap{
    text-align:center;
    padding-bottom: 10px;
    border-bottom: 2px solid white;
    margin: 0px auto;
  }
  #winner{
    text-align:center;
    margin-bottom: 20px;
  }

  .content{
    padding: 15px 0px 15px 0px;
    text-align: center;
  }
  .photo{
    text-align:center;
    width:100%;
  }
  .photo img{
    border: 5px solid white;
  }

  .likes{
    font-weight: bold;
    color: white;
    font-size: 5em;
    padding-left: 2px;
    font-family: arial;
  }

  .album{
    font-weight: bold;
    color:white;
    font-size: 1.5em;
    padding-left: 2px;
    font-family: arial;
  }

  .link{
    color:white;
    font-size:.8em;
    padding-left: 2px;
  }

  .photo_looser{
    width: 17%;
    display: inline-block;
    color: white;
    text-align:center;
    padding:2px;
  }

  .photo_looser img{
    border:2px solid white;
  }

  #likes{
    font-sixe: 1.8em;
    font-weight: bold;
  }
  #likes img{
    border: 2px solid white;
  }